* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Orbitron";
  color: #1b1b1b;
}

.navbar-container {
  padding-top: 25px;
}

.navbar-container > div {
  display: inline-block;
}

img[alt="brand-logo"] {
  margin-left: 60px;
  width: 120px;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.list {
  margin-left: 230px;
  list-style-type: none;
}

.list-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
}

.list-item:first-child {
  font-size: 22px;
  font-weight: 700;
}

.list-item:first-child::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #1b1b1b;
  position: relative;
  left: 18px;
}

.button-group {
  margin-left: 200px;
}

.button-group > div {
  display: inline-block;
}

.search-icon {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  top: 12px;
}

.nav-button {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  padding: 3px 35px;
  border: 2px solid #1b1b1b;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 200ms ease;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.hero-container {
  position: relative;
  height: 85vh;
}

img[alt="person-hero-image"] {
  float: left;
  height: 65vh;
  margin-left: 60px;
  margin-top: 60px;
}

img[alt="square-pattern"] {
  position: absolute;
  left: 12vw;
  bottom: 20px;
  height: 45vh;
  z-index: -1;
}

img[alt="start-pattern-1"] {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 35px;
}

img[alt="start-pattern-2"] {
  position: absolute;
  bottom: 70px;
  left: 42vw;
  width: 50px;
}

img[alt="globe-pattern"] {
  position: absolute;
  left: 37vw;
  top: 60px;
  width: 60px;
}

.hero-container-right {
  float: right;
  width: 55vw;
  text-align: center;
  margin-top: 140px;
  margin-right: 50px;
}

.hero-heading {
  font-size: 45px;
  font-weight: 800;
}

.hero-description {
  margin-top: 30px;
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 500;
}

.hero-container-right > :nth-child(3) {
  margin-top: 45px;
}

.button-email,
.button-join {
  margin: 0px 5px;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
}

.button-email {
  background-color: #ffffff;
  color: #1b1b1b;
}

.button-join {
  background-color: #1b1b1b;
  color: #ffffff;
  text-transform: uppercase;
}

.button-email:hover,
.button-join:hover {
  cursor: pointer;
  animation: zoom 300ms forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}

.hero-container-right > :nth-child(4) {
  margin-top: 50px;
}

.contact-heading {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.icons img {
  width: 35px;
  margin: 0 8px;
}

.icons img:hover {
  cursor: pointer;
  animation: zoom-icon 200ms forwards;
}

@keyframes zoom-icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
